header {
  display: block;
  margin-bottom: 115px;
  // border-bottom: solid 1px rgb(173, 173, 173);
  // position: relative;
  box-sizing: border-box;
  max-width: 100vh;
}
.header-container {
  position: fixed;
  width: 100%;
  height: 116px;
  background-color: white;
  z-index: 1000;
}
.nav-contact {
  @include flexbox(space-between, center);

  font-size: 0.875rem;
  height: 40px;
  width: 95%;
  margin: auto;
}
.contact-link {
  display: flex;
  &__item {
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
    a {
      display: flex;
      align-items: center;
    }
    &--image {
      margin-right: 0.5rem;

      height: 16px;
    }
    &--icon {
      margin-right: 0.5rem;

      height: 16px;
    }
    &--content {
      font-size: 0.875rem;
    }
  }
}
.contact-icon {
  display: flex;
  &__item {
    margin-right: 35px;
    &--icon {
      height: 16px;
    }
  }
}
.nav-header {
  @include flexbox(space-between, center);
  height: 75px;
  width: 95%;
  margin: auto;
  &__table {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    width: 50%;
    &--logo {
      // margin-right: 50px;

      font-size: 1.175rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.05rem;
    }
    &--item {
      display: flex;
      align-items: center;

      font-size: 0.8125rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.05rem;
      height: 100%;
    }
    &--item:hover {
      cursor: pointer;
      border-bottom: solid 2px red;
    }
  }
  &__search-box {
    display: flex;
    align-items: center;
    height: 40px;
    width: 30%;
    // padding-right: 35px;
    &--icon {
      width: 15%;
      height: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
      background-color: #f6f5f3;
    }
    &--input {
      display: flex;
      align-items: center;
      width: 76%;
      height: 100%;
      background-color: #f6f5f3;
      input {
        background-color: #f6f5f3;
        border: none;
        height: 100%;
        width: 95%;
      }
    }
  }
  // .nav-header__search-box--input input:focus + .search-suggest {
  //   opacity: 1;
  //   pointer-events: all;
  //   transform: translate(0px);
  // }
}
.search-suggest {
  // position: absolute;
  background-color: white;
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px rgb(173, 173, 173);
  &__sex {
    flex: 1;
    border-right: solid 1px rgb(173, 173, 173);
    display: flex;
    justify-content: space-around;
    height: 100%;
    &--container {
      width: 90%;
      height: 90%;
      margin: auto;
      display: flex;
    }
  }
  &__product {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
}
.product-container {
  width: 90%;
  height: 90%;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  &__title {
    font-weight: bold;
  }
  &__list-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 70%;
  }
}
.women {
  width: 50%;
  &__content {
    display: flex;
    flex-flow: column;
    height: 80%;
    justify-content: space-around;
    &--title {
      font-weight: bold;
    }
  }
}
.men {
  width: 50%;
  &__content {
    display: flex;
    flex-flow: column;
    height: 80%;
    justify-content: space-around;
    &--title {
      font-weight: bold;
    }
  }
}
.img-card {
  height: 100px;
  width: 275px;
  &__link {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    &--image {
      height: 100%;
      border: solid 1px rgb(173, 173, 173);
    }
    &--content {
      margin-left: 1.5rem;
    }
  }
}
.new-detail {
  height: calc(100vh - 116px);
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: auto;
  &__for-sex {
    flex: 1;
    background-color: aliceblue;
    &--container {
      width: 83%;
      margin: auto;
      height: 100%;
      margin-top: 2.5rem;
      position: relative;
      p {
        margin-bottom: 1rem;
      }
      p:hover {
        color: palevioletred;
        cursor: pointer;
      }
      p:after {
        bottom: 0;
        content: '';
        height: 1px;
        transition: transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
        position: absolute;
        width: 100%;
      }
    }
  }
  &__sex-detail {
    flex: 1;
    background-color: antiquewhite;
    &--container {
      width: 83%;
      margin: auto;
      height: 100%;
      margin-top: 2.5rem;
      p {
        margin-bottom: 1rem;
      }
      p:hover {
        color: palevioletred;
        cursor: pointer;
      }
    }
  }
  &__img {
    background-image: url('/image/new-img.jpg');
    flex: 1.5;
    // background-color: beige;
    // height: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
}
.women-detail {
  height: 750px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  &__product {
    flex: 1;
    background-color: aliceblue;
    &--container {
      width: 83%;
      margin: auto;
      height: 100%;
      margin-top: 2.5rem;
      p {
        margin-bottom: 1rem;
      }
    }
  }
  &__product-detail {
    flex: 1;
    background-color: antiquewhite;
    &--container {
      width: 83%;
      margin: auto;
      height: 100%;
      margin-top: 2.5rem;
      p {
        margin-bottom: 1rem;
      }
    }
  }
  &__img {
    flex: 1.5;
    background-color: beige;
    height: 100%;
  }
}
.men-detail {
  height: 750px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  &__product {
    flex: 1;
    background-color: aliceblue;
    &--container {
      width: 83%;
      margin: auto;
      height: 100%;
      margin-top: 2.5rem;
      p {
        margin-bottom: 1rem;
      }
    }
  }
  &__product-detail {
    flex: 1;
    background-color: antiquewhite;
    &--container {
      width: 83%;
      margin: auto;
      height: 100%;
      margin-top: 2.5rem;
      p {
        margin-bottom: 1rem;
      }
    }
  }
  &__img {
    flex: 1.5;
    background-color: beige;
    height: 100%;
  }
}
.art-detail {
  height: 750px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  &__product {
    flex: 1;
    background-color: aliceblue;
    &--container {
      width: 83%;
      margin: auto;
      height: 100%;
      margin-top: 2.5rem;
      p {
        margin-bottom: 1rem;
      }
    }
  }
  &__product-detail {
    flex: 1;
    background-color: antiquewhite;
    &--container {
      width: 83%;
      margin: auto;
      height: 100%;
      margin-top: 2.5rem;
      p {
        margin-bottom: 1rem;
      }
    }
  }
  &__img {
    flex: 1.5;
    background-color: beige;
    height: 100%;
  }
}
