.slider {
  $slider-button-color: #eae8e4;

  border-bottom: 1px solid #eae8e4;
  position: relative;
  width: 100%;

  &__container {
    position: relative;
  }

  &__bottom {
    @include flexbox(space-between, flex-start);
    flex-direction: row;
  }

  &__button-prev,
  &__button-next {
    @include flexbox(center, center);
    flex-direction: column;

    position: absolute;
    transform: none;
    top: 50vw;

    width: 48px;
    height: 48px;
    margin-top: 10px;
    padding: 16px 14px;

    @include respond-from(md) {
      top: 40vw;
    }

    @include respond-from(lg) {
      position: absolute;
      z-index: 1;
      top: 15vw;
      transform: translateY(-50%);
      margin-top: 0;
    }
  }

  &__button-prev:hover,
  &__button-next:hover {
    background-color: $slider-button-color;
    border-color: transparent;
    box-shadow: inset 0 0 0 1px $slider-button-color;
  }

  &__button-prev {
    left: 0;
  }

  &__button-next {
    right: 0;
  }

  &__item {
    &--image {
      width: 100%;
      height: 50vw;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      @include respond-from(md) {
        height: 40vw;
      }

      @include respond-from(lg) {
        height: 30vw;
      }
    }

    &--content {
      box-sizing: border-box;
      width: 100%;
      margin: 0 auto;

      padding: 6.4vw;
      padding-top: 6.4vw;

      padding-top: 3.125vw;
      padding: 3.125vw;
    }
  }

  .content-title {
    font-size: 1.75rem;
    letter-spacing: 0;
    line-height: 2rem;
    color: inherit;
    font-weight: 700;
    margin: 0 auto 0.5rem;
    text-align: center;
  }

  .content-link {
    @include flexbox(center, center);
    flex-direction: row;
    margin-top: 1rem;

    &__btn {
      background-color: #19110b;
      color: #fff;
      border: none;
      padding: 1rem 1.5rem;
      width: 100%;
      text-align: center;

      @include respond-from(md) {
        width: 50%;
      }

      @include respond-from(lg) {
        width: auto;
      }
    }

    &__btn:hover {
      background-color: #eae8e4;
      color: #19110b;
    }
  }
}
