.btn {
  font-size: 1rem;
  letter-spacing: 0.025rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: inherit;
//   display: inline-block;
  box-sizing: border-box;
  transition: border 0.3s cubic-bezier(0.39, 0.575, 0.565, 1),
    box-shadow 0.3s cubic-bezier(0.39, 0.575, 0.565, 1),
    color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1),
    background 0.3s cubic-bezier(0.39, 0.575, 0.565, 1),
    box-shadow 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);

  &--primary {
    color: $color-gray-100;
    border: 1px solid $color-red-500;
    background-color: $color-red-500;

    &:hover {
      background-color: $color-red-600;
      border-color: $color-red-600;
    }

    &:active {
      background-color: $color-red-700;
      border-color: $color-red-700;
    }
  }

  &--secondary {
    background-color: $color-gray-100;
    color: $color-gray-900;
    border: 1px solid $color-gray-500;

    &:hover {
      background-color: $color-gray-200;
    }

    &:active {
      background-color: $color-gray-300;
    }
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $color-gray-400;
    border-color: $color-gray-400;
    color: $color-gray-700;
  }
}
