.home-product {
  display: block;
  position: relative;
  padding: 30px;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #eae8e4;

  &__image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__content {
    width: 100%;
    padding: 6.4vw;
    padding-top: 6.4vw;
    text-align: center;

    &--title {
      font-size: 1.75rem;
      letter-spacing: 0;
      line-height: 2rem;
      color: inherit;
      font-weight: 700;
      margin: 0 auto 0.5rem;
    }

    &--subtitle {
      margin: 0 auto;
    }

    &--link {
      @include flexbox(center, center);
      flex-direction: column;

      margin-top: 1rem;
      width: 100%;

      .content-link-btn {
        background-color: #19110b;
        color: #fff;
        border: none;
        padding: 1rem 1.5rem;
        width: 100%;

        @include respond-from(md) {
          width: 50%;
        }

        @include respond-from(lg) {
          width: auto;
        }
      }

      .content-link-btn:hover {
        background-color: #eae8e4;
        color: #19110b;
      }
    }
  }
}
