body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $color-gray-100;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $font-family-base;
  color: $color-gray-900;
  letter-spacing: normal;
}

button,
[role='button'],
input,
textarea,
select,
label,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: $font-family-base;
  border: 0;
  padding: 0;
  outline: 0;
  background: transparent;
}

input,
select,
textarea {
  font-family: $font-family-base;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

label {
  display: inline-block;
}

select {
  cursor: pointer;
  border: 0;
  background-color: unset;

  &:focus {
    outline: 0;
  }
}

hr {
  border: 0;
  border-top: 1px solid $color-gray-400;
}
