.content-menuMobile {
  z-index: 2;
  position: absolute;
  height: calc(100vh - 57.5px);
  width: 100%;
  background: white;
  border-top: 1px solid rgb(173, 173, 173);
  overflow: auto;
  &__title {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid rgb(173, 173, 173);
    &--symbol {
      width: 60px;
      font-size: 30px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid rgb(173, 173, 173);
    }
    &--content {
      font-size: 1rem;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }
  }
  &__list {
    width: 90%;
    height: 100%;
    margin: auto;
    overflow: auto;
    &--item {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid rgb(173, 173, 173);
      font-size: 1rem;
    }
  }
}
