.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 50%;

  &__logo {
    font-size: 1.175rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
  }

  &__content {
    display: flex;
    align-items: center;
    font-size: 0.8125rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    height: 100%;
  }

  &__content:hover {
    cursor: pointer;
    border-bottom: solid 2px red;
  }
}
.search-box {
  display: flex;
  align-items: center;
  height: 40px;
  width: 30%;

  &__search-icon {
    width: 15%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #f6f5f3;
  }

  &__input-container {
    display: flex;
    align-items: center;
    width: 76%;
    height: 100%;
    background-color: #f6f5f3;

    &--search-input {
      background-color: #f6f5f3;
      border: none;
      height: 100%;
      width: 95%;
    }
  }
}
