.search-suggest-container {
  width: 100%;
  height: 350px;
  animation-name: openInput;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  overflow: hidden;
  border-bottom: solid 1px rgb(173, 173, 173);
}
.search-suggest {
  background-color: white;
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: space-between;

  &__sex {
    flex: 1;
    border-right: solid 1px rgb(173, 173, 173);
    display: flex;
    justify-content: space-around;
    height: 100%;
    &--container {
      width: 90%;
      height: 90%;
      margin: auto;
      display: flex;
    }
  }
  &__product {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
}
@keyframes openInput {
  0% {
    height: 0px;
  }
  100% {
    height: 350px;
  }
}
.men {
  width: 50%;
  &__content {
    display: flex;
    flex-flow: column;
    height: 80%;
    justify-content: space-around;
    &--title {
      font-weight: bold;
    }
  }
}
.women {
  width: 50%;
  &__content {
    display: flex;
    flex-flow: column;
    height: 80%;
    justify-content: space-around;
    &--title {
      font-weight: bold;
    }
  }
}
.product-container {
  width: 90%;
  height: 90%;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  &__title {
    font-weight: bold;
  }
  &__list-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 70%;
    overflow: hidden;
  }
}
.img-card {
  height: 100px;
  width: 275px;

  &__link {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    &--image {
      height: 100%;
      border: solid 1px rgb(173, 173, 173);
    }
    &--content {
      margin-left: 1.5rem;
    }
  }
}
