.menu-content-mobile {
  height: calc(100vh - 57.5px);
  background: white;
  border-top: 1px solid rgb(173, 173, 173);
  &__container {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &--item {
      height: 50px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      justify-content: space-between;
    }
  }
}
