$screen-mobile: 793px !default;

$color-black: #000;
$color-white: #fff;
$color-gray-900: #333;
$color-gray-800: #666;
$color-gray-700: #999;
$color-gray-600: #b3b3b3;
$color-gray-500: #ccc;
$color-gray-400: #e6e6e6;
$color-gray-300: #f5f5f5;
$color-gray-200: #fafafa;
$color-gray-100: #fff;

$color-red-700: #c11529;
$color-red-600: #dc182f;
$color-red-500: #f4364c;
$color-red-400: #ffbdc4;
$color-red-300: #ffe5e8;
$color-red-200: #fff5f6;

$color-yellow-100: #fff9eb;

$color-blue-500: #3683f4;

// Toast
$color-orange: #ffe9c2;
$color-frog-green: #6bbe10;

$color-sns: (
  facebook: #3b5997,
  google: #ea4334,
  twitter: #00aced,
  line: #03b404,
  zalo: #008de8,
);

$sns-config: 'facebook' #3b5997, 'twitter' #00aced, 'line' #03b404;

$border-color: #eae8e4;
